parameters:
    # Adds a fallback DATABASE_URL if the env var is not set.
    # This allows you to run cache:warmup even if your
    # environment variables are not available yet.
    # You should not need to change this value.
    API_PREFIX: '%env(API_PREFIX)%'

endroid_qr_code:
    writer: 'png'
    size: 300
    margin: 10
    foreground_color: { r: 0, g: 0, b: 0 }
    background_color: { r: 255, g: 255, b: 255 }
    error_correction_level: low # low, medium, quartile or high
    encoding: UTF-8
    label: Scan the code
    label_font_size: 20
    label_alignment: left # left, center or right
    label_margin: { b: 20 }
#    logo_path: '%kernel.root_dir%/../vendor/endroid/qr-code/assets/images/symfony.png'
#    logo_width: 150
    validate_result: false # checks if the result is readable

api_platform:
    mapping:
        paths: ['%kernel.project_dir%/src/Entity', '%kernel.project_dir%/config/packages/api_platform/resources.yaml']

    # The title of the API.
    title: 'Smart Warranty API'

    # The description of the API.
    description: 'API for Book Application'

    # The version of the API.
    version: '0.1.0'

    # Specify a name converter to use.
    name_converter: ~

    # Specify a path name generator to use.
    path_segment_name_generator: 'api_platform.path_segment_name_generator.dash'

    swagger:
        api_keys:
            - { name: 'Authorization', type: 'header' }

    # The list of enabled formats. The first one will be the default.
    formats:
        jsonld:
            mime_types: ['application/ld+json']
        jsonhal: ['application/hal+json']
#        xml:     ['application/xml', 'text/xml']
#        json:    ['application/json']
#        yaml:    ['application/x-yaml']
#        csv:     ['text/csv']
#        json:
#            mime_types: ['application/json']
        html:
            mime_types: ['text/html']

        # ...

    # The list of enabled error formats. The first one will be the default.
    error_formats:
        jsonproblem:
            mime_types: ['application/problem+json']
        jsonhal: ['application/hal+json']
        jsonld:
            mime_types: ['application/ld+json']

        # ...


services:
    swarranty.code_search_filter:
        parent: 'api_platform.doctrine.orm.search_filter'
        arguments: [ { code: 'exact' } ]
        tags: [ 'api_platform.filter' ]

    swarranty.brand_search_filter:
        parent: 'api_platform.doctrine.orm.search_filter'
        arguments: [ { brand: 'exact' } ]
        tags: [ 'api_platform.filter' ]

    swarranty.category_search_filter:
        parent: 'api_platform.doctrine.orm.search_filter'
        arguments: [ { category: 'exact' } ]
        tags: [ 'api_platform.filter' ]

    swarranty.sub_category_search_filter:
        parent: 'api_platform.doctrine.orm.search_filter'
        arguments: [ { subCategory: 'exact' } ]
        tags: [ 'api_platform.filter' ]

