/* You can add global styles to this file, and also import other style files */
.ng-dropdown-panel.ng-select-bottom {
  left: 0%;
}

ng-select {
  text-align: left;
}

.fa-lg {
  font-size: 2em;
}

.fa-plus-square {
  color: #28a745;
}

.fa-minus-square {
  color: #dc3545;
}


@media (max-width: 1200px) {
  h3 {
      font-size: 22px;
  }
  h5 {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .blk-upload {
    .col-left {
      display: none;
    }
    .col-right {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      .upload-inner {
        width: 300px !important;
      }
    }
  }
}
@media (max-width: 992px) {
  h3 {
      font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .send-email-wrap {
    .note {
      width: 100% !important;
    }
  }
}
@media (max-width: 480px) {
  .blk-upload {
    .col-right {
      .upload-inner {
        width: 100% !important;
      }
    }
  }
  .email-note {
    width: 100% !important;
  }
  .success-list {
    .success-item {
      width: 100% !important;
    }
  }
  .success-wrap {
    .note {
      width: 100% !important;
    }
  }
}
