<div class="send-email-wrap">
    <div
    *ngIf="!isLoading"
    class="text-center">
        <h3>Almost There! Just One More Step:)</h3>
        <div
        *ngIf="dataCustomer.email && dataCustomer.email != ''"
        class="email-note">
            <p>An email has been sent to <a href="mailto:{{dataCustomer.email}}">{{dataCustomer.email}}</a> </p>
            <p>Please check your email to verify your email address and receive the Registration Confirmation.</p>
        </div>
        <p class="note">If you have waited for over 30 seconds and have not received an email. Please check your spam or junk mailbox. If it’s still not in there, click <a href="#">Resend </a></p>
    </div>
    <!-- Loading -->
    <div
    *ngIf="isLoading"
    class="text-center">
        <div class="lds-hourglass"></div>
    </div>
</div>
