{#{% if admin.hasAccess('decide', object) and admin.hasRoute('decide') %}#}
{% set customer = object.customer %}
{% if customer is not empty %}
    {% set organisation = customer.organisation %}
    {% if organisation is not empty %}
        <a href="{{ path('admin_magenta_swarrantymodel_organisation_organisation_customer_customer_customer_warranty_customer_warrantycase_list',{'id': organisation.id,'childId':customer.id,'childChildId':object.id}) }}"
           class="btn btn-sm btn-primary view_link"
           title="{{ 'action_button.label_add_case'|trans({}, 'SonataAdminBundle') }}">
            <i class="fa fa-ambulance" aria-hidden="true"></i>
            {{ 'action_button.label_add_case'|trans({}, admin.translationDomain) }}
        </a>
    {% endif %}{% endif %}
{#{% endif %}#}
