<div class="success-wrap">
    <div class="text-center">
        <h3>REGISTRATION SUCCESSFUL</h3>
        <p class="note">A copy of this product registration will be sent to your email for your reference.             </p>
        <div class="success-list">
            <div class="success-item">
                <p>Warranty Registration ID: XPODX001-2018</p>
                <p>Date of Registration: 01 Jan 2018</p>
                <p>Warranty Expiry: 31 Dec 2019</p>
                <p>Product Category: Hood</p>
                <p>Model Name: Ariana Hood GS-1234</p>
                <p>Serial Number: Not Provided</p>
            </div>
            <div class="success-item">
                    <p>Warranty Registration ID: XPODX001-2018</p>
                    <p>Date of Registration: 01 Jan 2018</p>
                    <p>Warranty Expiry: 31 Dec 2019</p>
                    <p>Product Category: Hood</p>
                    <p>Model Name: Ariana Hood GS-1234</p>
                    <p>Serial Number: Not Provided</p>
                </div>
        </div>
    </div>
</div>
