{% extends '@MagentaSWarrantyAdmin/CRUD/decide.html.twig' %}
   {%- block decision_buttons -%}
       {#{% if admin.hasAccess('decide', object) %}#}
       {% if object.completed is not empty %}
           <button type="submit" class="decision-button btn btn-warning"
                   data-action="{{ admin.generateObjectUrl('decide', object,{'action':'uncomplete'}) }}">
               MARK AS NOT COMPLETED
           </button>
           {% else %}
           <button type="submit" class="decision-button btn btn-primary"
                   data-action="{{ admin.generateObjectUrl('decide', object,{'action':'complete'}) }}">
               MARK AS COMPLETED
           </button>
       {% endif %}
       <button type="submit" class="decision-button btn btn-success"
               data-action="{{ admin.generateObjectUrl('decide', object,{'action':'close'}) }}">
           CLOSE CASE
       </button>
       <button type="submit" class="decision-button btn btn-default"
               data-action="{{ admin.generateObjectUrl('decide', object,{'action':'reopen'}) }}">
           RE-OPEN CASE
       </button>
       <a class="decision-button btn btn-info"
          href="#">
           ADD SUB-CASE
       </a>
       {#{% endif %}#}
   {%- endblock -%}