<div>
  <b [class.red]="validating && survey.getResultOrErrorCode().errors.indexOf(1) >= 0">Age Group *</b>
  <ul class="option-group">
    <li *ngFor="let option of survey.ageGroup">
      <label><input name="ageGroup" type="radio" value="{{option.value}}" [(ngModel)]="survey.selectedAgeGroup"> {{option.name}}</label>
    </li>
  </ul>
  <b [class.red]="validating && survey.getResultOrErrorCode().errors.indexOf(2) >= 0">How did you know FUJIOH? (Multiple answers allowed) *</b>
  <ul class="option-group">
    <li *ngFor="let option of survey.hearFrom">
      <span>
        <label><input name="hearFrom" type="checkbox" value="{{option.value}}" [(ngModel)]="option.selected"> {{option.name}}</label>
      </span>
    </li>
    <li>
      <span>
        <label><input type="hearFrom" type="checkbox" value="other" [(ngModel)]="survey.otherHearFrom.selected"> Others (Enter comment)<br></label>
        <div [class.red]="validating && survey.getResultOrErrorCode().errors.indexOf(3) >= 0">Others (Please write comment if others is selected)</div>
        <input type="text" [(ngModel)]="survey.otherHearFrom.name" (keyup)="survey.otherHearFrom.selected = true">
      </span>
    </li>
  </ul>
  <b [class.red]="validating && survey.getResultOrErrorCode().errors.indexOf(4) >= 0">Why did you choose FUJIOH product? (Multiple answers allowed) *</b>
  <ul class="option-group">
    <li *ngFor="let option of survey.reason">
      <span>
        <label><input name="reason" type="checkbox" value="{{option.value}}" [(ngModel)]="option.selected"> {{option.name}}</label>
      </span>
    </li>
    <li>
      <span>
        <label><input type="reason" type="checkbox" value="other" [(ngModel)]="survey.otherReason.selected"> Others (Enter comment)<br></label>
        <div [class.red]="validating && survey.getResultOrErrorCode().errors.indexOf(5) >= 0">Others (Please write comment if others is selected)</div>
        <input type="text" [(ngModel)]="survey.otherReason.name" (keyup)="survey.otherReason.selected = true">
      </span>
    </li>
  </ul>
  <div *ngIf="validating && !survey.getResult()" class="red">{{message}}</div>
  <button *ngIf="!submiting" class="btn btn-success" (click)="submit()">Next</button>
  <button *ngIf="submiting" class="btn btn-success" disabled>Submiting...</button>
</div>