<div>
  <p>Age Group *</p>
  <ul class="option-group">
    <li *ngFor="let option of survey.ageGroup">
      <input name="ageGroup" type="radio" value="{{option.value}}" [(ngModel)]="survey.selectedAgeGroup"> {{option.name}}
    </li>
  </ul>
  <p>How did you know FUJIOH? (Multiple answers allowed) *</p>
  <ul class="option-group">
    <li *ngFor="let option of survey.hearFrom">
      <span>
        <input name="hearFrom" type="checkbox" value="{{option.value}}" [(ngModel)]="option.selected"> {{option.name}}
      </span>
    </li>
    <li>
      <span>
        <input type="hearFrom" type="checkbox" value="other" [(ngModel)]="survey.otherHearFrom.selected"> Others (Enter comment)<br>
        <div>Others (Please write comment if others is selected)</div>
        <input type="text" [(ngModel)]="survey.otherHearFrom.name">
      </span>
    </li>
  </ul>
  <p>Why did you choose FUJIOH product? (Multiple answers allowed) *</p>
  <ul class="option-group">
    <li *ngFor="let option of survey.reason">
      <span>
        <input name="reason" type="checkbox" value="{{option.value}}" [(ngModel)]="option.selected"> {{option.name}}
      </span>
    </li>
    <li>
      <span>
        <input type="reason" type="checkbox" value="other" [(ngModel)]="survey.otherReason.selected"> Others (Enter comment)<br>
        <div>Others (Please write comment if others is selected)</div>
        <input type="text" [(ngModel)]="survey.otherReason.name">
      </span>
    </li>
  </ul>
  <div *ngIf="!survey.getResult()" style="color: red">{{message}}</div>
  <button class="btn btn-success" (click)="submit()">Next</button>
</div>