{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% block stylesheets_stupid %}
    <style>
        /*Stupid Client with small screen monitors */
        table.sonata-ba-list {
            table-layout: fixed;
        }

        .sonata-ba-list-field-header-actions {
            width: 156px; /* for Warranty Action*/
        }

        td.sonata-ba-list-field.sonata-ba-list-field-text, th {
            word-wrap: break-word;
        }

        th.sonata-ba-list-field-header.sonata-ba-list-field-header-batch {
            width: 46px;
        }

        /* End of stupidity */
    </style>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ block('stylesheets_stupid') }}
    <style>
        /* export button */
        form button.btn.btn-default.dropdown-toggle {
            /*display: none;*/
        }

        /* end export btn */

        nav .nav.navbar-right.btn-group {
            display: none;
        }

        .dropdown.sonata-actions, .control-label i {
            display: none;
        }

        /* Hide the List Filter Button */
        form.sonata-filter-form .row .col-sm-3.text-center {
            /*display: none;*/
        }

        [data-toggle="advanced-filter"] {
            display: none;
        }

        .box-footer .pull-left .checkbox {
            display: none;
        }
    </style>
{% endblock %}
{#{% block list_footer %}#}
    {#<div class="magenta-admin-footer">#}
        {#{{ parent() }}#}
    {#</div>#}
{#{% endblock %}#}
