<div class="tech-wrap tech-detail">
    <div class="tech-blk">
        <h4 class="tech-sub-ttl">Customer Details</h4>
        <table>
            <tr>
                <td class="td-name">Full name</td>
                <td> : {{dataTech.customer.fullname}}</td>
            </tr>
            <tr>
                <td class="td-name">Contact no</td>
                <td> : {{dataTech.customer.contact_no}}</td>
            </tr>
            <tr>
                <td class="td-name">Email</td>
                <td> : {{dataTech.customer.email}}</td>
            </tr>
            <tr>
                <td class="td-name">Address</td>
                <td>: {{dataTech.customer.address}}</td>
            </tr>
            <tr>
                <td class="td-name">Postal Code</td>
                <td>: {{dataTech.customer.postal_code}} <a href="#">(Get Directions)</a></td>
            </tr>
        </table>
    </div>
    <div class="tech-blk">
        <h4 class="tech-sub-ttl">Case Details</h4>
        <table>
            <tr>
                <td class="td-name">Case no</td>
                <td> : {{dataTech.case_details.case_no}}</td>
            </tr>
            <tr>
                <td class="td-name">Date Created</td>
                <td> : {{dataTech.case_details.date_created}}</td>
            </tr>
            <tr>
                <td class="td-name">Brand</td>
                <td> : <select class="ipt-select"
                    (ngModelChange)="onChange($event)"
                    [(ngModel)]="selectedBrand">
                    <option>---Please choose---</option>
                    <option *ngFor="let model of brandList" [value]="model.value">{{model.name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="td-name">Model Name</td>
                <td>: <select class="ipt-select"
                    (ngModelChange)="onChange($event)"
                    [(ngModel)]="selectedModelName">
                    <option>---Please choose---</option>
                    <option *ngFor="let model of modelNameList" [value]="model.value">{{model.name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="td-name">Model Number</td>
                <td>: <select class="ipt-select"
                    (ngModelChange)="onChange($event)"
                    [(ngModel)]="selectedModelNumber">
                    <option>---Please choose---</option>
                    <option *ngFor="let model of modelNumberList" [value]="model.value">{{model.name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="td-name">Serial Number</td>
                <td>: <input type="text" class="ipt" value="{{dataTech.case_details.serial_number}}"/></td>
            </tr>
            <tr>
                <td class="td-name">Date Closed</td>
                <td>: {{dataTech.case_details.date_closed}}</td>
            </tr>
            <tr>
                <td class="td-name">Technician</td>
                <td>: {{dataTech.case_details.technician}}</td>
            </tr>
            <tr>
                <td class="td-name">Service Zone</td>
                <td>: {{dataTech.case_details.service_zone}}</td>
            </tr>
        </table>
    </div>
    <div class="tech-blk">
        <h4 class="tech-sub-ttl">Case Details</h4>
        <p>What ever they want to write about the case when the customer called in.</p>
        <input type="text" class="ipt full" placeholder="Add Case Detail"/>
    </div>
    <div
    *ngIf="dataTech.case_notes"
    class="tech-blk">
        <h4 class="tech-sub-ttl">Service/Case Notes</h4>
        <div class="note-list">
            <div
            *ngFor="let note of dataTech.case_notes; index as i;"
            class="note-item">
                <p>{{note.desc}}</p>
                <p>
                    {{note.name}} | {{note.date}} | <span>Delete</span>
                </p>
            </div>
        </div>
        <input type="text" class="ipt full" placeholder="Add New Case Notes/Service Rendered"/>
    </div>
    <div class="tech-blk">
        <image-upload
        class="custome-upload"
        (removed)="onRemoved($event)"
        (uploadFinished)="onUploadFinished($event, 1)"
        (uploadStateChanged)="onUploadStateChanged($event)"
        buttonCaption="UPLOAD SERVICE INVOICE IMAGE"></image-upload>
        <div class="text-center">
            <button class="btn btn-green btn-mark">Mark Completed</button>
            <button class="btn btn-primary">UPDATE INFO</button>
        </div>
    </div>
</div>
