{% if admin.hasAccess('decide', object) and admin.hasRoute('decide') %}
    <a href="{{ admin.generateObjectUrl('show', object,{'action':'show'}) }}" class="btn btn-sm btn-primary view_link" title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-eye" aria-hidden="true"></i>
        {{ 'action_button.label_show_case'|trans({}, admin.translationDomain) }}
    </a>
{% endif %}
