<div class="row">
    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <div class="text-center">
            <h3>Customer and Product Registration</h3>
            <section>
                <h5>Customer Details</h5>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="(*) Your Full name"
                           aria-label="Your Full name">
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">+65</span>
                    </div>
                    <input type="text" class="form-control" placeholder="(*) Contact Number"
                           aria-label="Contact Number">
                </div>
                <div class="input-group mb-1">
                    <input type="text" class="form-control" placeholder="Email Address" aria-label="Email Address">
                </div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Confirm Email Address"
                           aria-label="Confirm Email Address">
                </div>

                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Your Address" aria-label="Your Address">
                </div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Postal Code" aria-label="Postal Code">
                </div>
            </section>
            <h3>Product Purchase Information</h3>
            <section>
                <ng-select class="mb-2" (change)="selectBrand($event)" [items]="brands"
                           bindLabel="name"
                           placeholder="(*) Product Brand"
                           [(ngModel)]="selectedBrand">
                </ng-select>
                <ng-select *ngIf="!isCategoryHidden" (change)="selectCategory($event)" class="mb-2" [items]="categories"
                           bindLabel="name"
                           placeholder="(*) Product Category"
                           [(ngModel)]="selectedCategory">
                </ng-select>
                <ng-select *ngIf="!isProductHidden" class="mb-2" [items]="products"
                           bindLabel="name"
                           placeholder="(*) Model Name"
                           [(ngModel)]="selectedProduct">
                </ng-select>
                <div class="input-group mb-2">
                    <input [(ngModel)]="purchaseDate" type="text"
                           placeholder="(*) Purchase Date (MM-DD-YYYY)"
                           class="form-control"
                           [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                           bsDatepicker/>
                </div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Product Serial Number"
                           aria-label="Postal Code">
                </div>
                <ng-select class="mb-2" [items]="dealers"
                           bindLabel="name"
                           placeholder="Dealer's Name"
                           [(ngModel)]="selectedDealer">
                </ng-select>
            </section>
            <div class="input-group mb-2" style="cursor: pointer;">
                <fa size="lg" name="plus-square"> </fa>
                <span class="add-product-text"> Add another Product</span>
            </div>
            <section>
                <div class="input-group mb-2">
                 <button type="button" class="btn btn-primary form-control">REGISTER</button>
                </div>
            </section>
            <section>
                I have read and                 <a (click)="lgModal.show()">or this</a>
                <input type="checkbox" aria-label="Checkbox for following text input">

                <br/>
                <a (click)="lgModal.show()">or this</a>
            </section>
        </div>
    </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>