.add-product-text, .remove-product {
  cursor: pointer;
  display: inherit;
  text-align: left;
  padding-left: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.preview-label {
  flex: 0 0 85px;
}

.preview-text {
  display: flex;
  align-items: center;
}

.preview-label .input-group-text {
  white-space: normal;
}

.preview-container {
  cursor: pointer;
}

div.input-group ng-select {
  width: 100%;
}

.alert.alert-danger {
  text-align: left;
}

a {
  color: #0056b3 !important;
  cursor: pointer;
}

a:hover {
  text-decoration: underline !important;
}

table.checkboxes td {
  text-align: left !important;
  vertical-align: top;
  padding-right: 15px;
}

.form-check {
  text-align: left !important;
  padding-left: 0px;
  display: flex;
  align-items: baseline;
}

.form-check-label {
  padding-left: 10px;
}

agm-map {
  height: 300px;
}